*.war
*.original
*.xml
*.exe
*.jar
*.amq
*.pdf
*.png
*.gz
*.jpg
*.groovy
*.xsd
*.eap
*.gif
*.svg
*.ser
*.ftl
tools/user-repo/target/
tools/cmis/chemistry-opencmis-server-inmemory/target/
modules/web/target
modules/ui/target
modules/usecases/target
modules/services/target
modules/js/target
modules/domain/target
modules/annotate/server/target
modules/annotate/client/target
modules/integration/target
modules/repository/target